@using UnrealEstate.Business.User.ViewModel.Request
@using UnrealEstate.Business.User.ViewModel
@model IEnumerable<UserResponse>

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Users</h1>
<!-- search bar -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form method="get" class="input-group" id="adv-search">
                <input name="Email" type="email" class="form-control" placeholder="Search user by email"/>
                <div class="input-group-btn">
                    <div class="btn-group" role="group">
                        <div class="dropdown dropdown-lg">
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <span class="caret"></span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" role="menu">
                                <div class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input name="Name" class="form-control" type="text"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" asp-controller="Admin" asp-action="Users" id="search" class="btn btn-success">
                    <i class="fa fa-search"></i>
                </button>
            </form>
        </div>
    </div>
</div>
<!-- end search bar -->

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthDay)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDay)
            </td>
            <td>
                @if (item.IsActive)
                {
                    @Html.ActionLink("Disable", "SetStatus", "Admin", new {email = item.Email}, new {style = "color : red"})
                    ;
                }
                else
                {
                    @Html.ActionLink("Enable", "SetStatus", "Admin", new {email = item.Email})
                    ;
                }
            </td>
        </tr>
    }
    </tbody>
</table>

@Html.ActionLink("Next page", "Users", (UserFilterCriteriaRequest) ViewData["criteria"])