@model OmdbScrubber.Models.ViewModels.MovieVM
    <form asp-controller="Imdb" asp-action="List" method="post">
        <div class="row">
            <div class="col">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Runtime minute above</span>
                    </div>
                    <input type="text" asp-for="RuntimeMinsAbove" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
            </div>
            <div class="col">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Runtime minute below</span>
                    </div>
                    <input type="text" asp-for="RuntimeMinsBelow" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Has actor</span>
                    </div>
                    <input asp-for="HasActor" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
            </div>
            <div class="col">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Rating above</span>
                    </div>
                    <input asp-for="RatingAbove" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
            </div>
        </div>

        <div class="row float-right mr-1 mb-1">
            <button asp-action="List" asp-controller="Imdb" type="submit" class="btn btn-success float-right">Filter</button>
        </div>
    </form>
    <table class="table table-striped">

        <thead>
            <tr>
                <th scope="col">Imdb Id</th>
                <th scope="col">Title</th>
                <th scope="col">Year</th>
                <th scope="col">Runtime Minute</th>
                <th scope="col">Genre</th>
                <th scope="col">Actors</th>
                <th scope="col">Rating</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Movies)
            {
                <tr>
                    <th scope="row">@item.ImdbId</th>
                    <td>@item.Title</td>
                    <td>@item.CreateAt.Year</td>
                    <td>@item.RuntimeMins</td>
                    <td>@item.Genre</td>
                    <td>@string.Join(", ", item.MovieActors.Select(ma => ma.Actor.Name))</td>
                    <td>@item.ImdbRating</td>
                </tr>
            }
        </tbody>
    </table>
